<div class="hero-unit"></div>
    <h1>Delete Gallery</h1>

    <%= form_for(:gallery, :url => {:action => "destroy", :id=>@gallery.id}) do |field|%>
        <p> Are you sure to delete Gallery ? </p>
        <p class="text-warning"><%= @gallery.name %></p>
        <div style="text-align: center">
          <%= link_to("Back", {:action => "index"}, :class=>"btn btn-primary")%>
          <%= submit_tag("Delete", :class=>"btn btn-danger" )%>
        </div>
    <%end%>
</div>
