<div class="navbar-wrapper">
  <div class="container">
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <!--  <a class="navbar-brand logo" href="#"></a> -->
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/public">Home</a></li>
            <li><a href="/public/articles">Pages</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gallery<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% gallery_menu = Gallery.where(:visible => true).last(10) %>
                <% gallery_menu.each do |gallery| %>
                    <li><%= link_to(gallery.name, {:action =>'galleries', :gallery_id => gallery.id}) %></li>
                <% end %>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% category_menu = Category.where(:visible => true).last(10) %>
                <% category_menu.each do |category| %>
                    <li><%= link_to(category.name, {:action => 'categories', :category_id => category.id}) %></li>
                <% end %>
              </ul>
            </li>
            <li><%= link_to('Log in', {:controller=>'access', :action=>'login'})%></li>
          </ul>
        </div>
      </div>
  </nav>
</div>
</div>
