<%@page_name = "Page News"%>
<div class="container">
  <div id="row">
    <h2>index of Pages (last 10)</h2>
    <% @page_menu.each do |page|%>
        <%= link_to(page.name, {:action=>"page", :page_id=>page.id}, :class=>'btn btn-default btn-lg btn-block') %>
    <%end%>
  </div>
</div>
