<% @page_name = "News #{@article.name}"%>
<div class="container">
    <h2> <%= @article.name%> </h2>
    <div id="row">
      <div class="col-md-8">
        <p> <%= @article.content %></p>
        <hr>
        <p><%= link_to("<< Back", {:controller=>'public', :action=>'index'}, :class=>'btn btn-default')%></p>
      </div>
      <div class="col-md-4">
        <%= image_tag(@article.photo.url, :class=>'featurette-imgage img-responsive')%>
      </div>
    </div>
</div>